* {
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}

:root {
  --primary-color: #f0e479;
  --light-color: rgb(155, 153, 152);
  --dark-color: #000000;
  --base-color: #000000;
  --primary-text-color: #d6d6d6;
  --purple-text: #9e86c8;
  --yellow-text: #e5b567;
  --orange-text: #e87d3e;
  --green-text: #b4d273;
  --pink-text: #b05279;
  --blue-text: #6c99bb;
  --darker-color: #000000;
}

body {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.5vw;
  line-height: 1.5;
  background: var(--base-color);
  margin: 0 auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Utility Classes */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.container,
.container-sm {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  overflow-x: hidden;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 1000px;
  padding: 0 15px;
}
/* Mobile support */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  margin-top: 100px;
  padding-right: 10px;
}

.mobile-menu ul li {
  margin: 10px 0;
}

.mobile-menu ul li a {
  font-size: 20px;
  transition: 0.3s;
}

/* Media Queries */
@media (max-width: 768px) {
  .hero-abt {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .hero-abt .container {
    flex-basis: auto;
    min-width: 0;
  }
}

@media (max-width: 960px) {
  .text-xxl {
    font-size: 2.5rem;
  }
}

@media (max-width: 100%) {
  .navbar .main-menu {
    display: inline-flex;
    flex-wrap: inline-flex;
  }
}
